@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    width: 100%;
    /* background-color: #F3F8FC; */
    background-color: rgb(233, 255, 255);
    top: 0;
    height: 80px;
    position: fixed;
    z-index: 10;
}

footer {
    /* background-color: #2D2D2D; */
    background-color: teal;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    overflow: auto;
}

.logo-jakarta {
    cursor: pointer;
}

.header-kiri {
    float: left;
    margin-left: 50px;
}

.logo-jakarta {
    width: 50px;
    margin-top: 13px;
}

.judul {
    float: right;
    margin-left: 25px;
    margin-top: 0px;
}

.dki {
    font-size: 17px;
    margin-bottom: -5px;
}

.deskripsi {
    float: left;
    font-size: 12px;
}

nav {
    float: right;
    margin-right: 60px;
    margin-top: 13px;
    position: sticky;
}

nav li {
    display: inline;
    list-style-type: none;
}

nav a {    
    margin-right: 30px;
    text-decoration: none;
    float: left;
    font-weight: 400;
    color: black;
    transition: 0.2s;
}

nav a:visited {
    color: black;
    transition: 0.2s;
}

nav a:hover {
    color: #098d82;
}

.hamburger {
    display: none;
}

.jumbotron {
    height: 580px;
    margin-top: 80px;
    background-size: cover;
    padding: 0 100px;
    margin-bottom: 50px;
}

.jumbotron h1 {
    color: white;
    font-size: 100px;
    padding-top: 110px;
    margin-bottom: -180px;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
}

.button {
    margin-top: 220px;
    background-color: #0abbac;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 18px 32px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 2px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
    outline: none;
    text-decoration: none;
    transition: 0.6s;
}

.button:hover {
    
    color: #0abbac;
    background-color: white;
    cursor: pointer;
    transform: scale(1.05)
}

/* .ilustrasi {
    object-fit: cover;
    width: 100%;
}

.gambarIlustrasi {
    width: 50%;
    float: left;
    position: relative;
}

.gambarIlustrasi2 {
    width: 50%;
    float: right;
    box-shadow: inset 10px 10px 1000px rgba(211, 11, 11, 1);
}

.gambarIlustrasi3 {
    width: 50%;
    float: none;
}

.content {
    margin: 10px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.etimologi {
    padding: 0 50px;
    float: right;
    width: 50%;
}

.etimologi h2 {
    font-size: 2em;
    text-shadow: 2px 2px 0px rgb(248, 193, 99);
}

.sejarah {
    padding: 0 50px;
    float: left;
    width: 50%;
}

.sejarah h2 {
    font-size: 2em;
    text-shadow: 2px 2px 0px rgb(224, 198, 198);
    margin-top: 10px;
}

.kebudayaan {
    padding: 0 50px;
    float: right;
    width: 50%;
}

.kebudayaan h2 {
    font-size: 2em;
    text-shadow: 2px 2px 0px rgb(177, 218, 233);
    margin-top: 10px;
} */

.card {
    margin: 100px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.gambarIlustrasi {
    flex-basis: 50%;
    position: relative;
}

.ilustrasiEtimologi {
    width: 100%;
    opacity: 0.8;
}

.ilustrasiSejarah {
    width: 100%;
    padding-left: 0;
    opacity: 0.8;
}

.ilustrasiKebudayaan {
    width: 100%;
    opacity: 0.8;
}

.etimologi {
    flex-basis: 50%;
    /* padding: 0 50px 0 0; */
    margin: 0 50px;
}

.sejarah {
    flex-basis: 50%;
    margin: 0 50px;
}

.kebudayaan {
    flex-basis: 50%;
    margin: 0 50px;
}

* {
    box-sizing: border-box;
}

.pertanyaan {
    margin: 100px 0px 0 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pertanyaan h2 {
    font-weight: 700;
    font-size: 2em;
}

.pertanyaan h3 {
    margin-bottom: 50px;
    text-align: center;
}

.form {
    padding: 0 400px;
}

.form p {
    margin-top: 20px;
    text-align: left;
}

.highlight {
    background: linear-gradient(180deg, rgba(255,255,255,0) 65%, rgba(129, 255, 223, 0.473) 65%);
    display: inline;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    resize: none;
}

textarea {
    height: 100px;
}

input[type=text]:focus, textarea:focus {
    background-color: rgb(240, 255, 252);
}

.buttonKirim {
    background-color: #0abbac;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 18px 32px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    letter-spacing: 2px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    outline: none;
    text-decoration: none;
    transition: 0.6s;
    width: 100%;
    margin-top: 20px;
}

.buttonKirim:hover {   
    color: #0abbac;
    background-color: white;
    cursor: pointer;
    transform: scale(1.01)
}

.tombolForm {
    float: left;
}

.komitmenForm p {
    padding: 8px 0;
    width: 80%;
    float: right;
    font-size: 13px;
    text-align: left;
}

.komitmenForm span {
    color: rgb(219, 4, 4);
}

.dataInput {
    margin-top: 100px;
}

.dataInput table{
    padding: 200px;
    text-align: left;
}

.alert {
    padding: 10px;
    background-color: rgb(46, 206, 255);
    color: white;
    margin: 0 200px 0 200px;
    margin-top: 105px;
    display: none;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.thanks {
    font-size: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

.e_mail {
    font-weight: 400;
}

.input {
    margin-bottom: 100px;
}

aside {
    width: 100%;
    margin: auto;
    padding: 20px 40px;
    text-align: center;
    margin: 200px 0 100px 0;
}

.info {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-x: right;
}

.header {
    text-align: center;
    flex-basis: 50%;
}

.header h2, h3 {
    text-align: left;
}

.header h3 {
    font-size: 35px;
}

section {
    flex-basis: 50%;
    text-align: left;
    text-align: left;
}

section th {
    padding: 5px 20px 5px 0;
}

section h3 {
    font-size: 20px;
}

section table {
    font-size: 19px;
}

.header .halo {
    font-size: 3em;
}

@media (max-width: 1000px){
    .hamburger {
        display: block;
        float: right;
        width: 30px;
        margin-top: 0;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar {
        margin-top: 20px;
        margin-right: 20px;
    }

    .navbar ul {
        display: none;
    }

    .navbar.responsive {
        position: relative;
        margin-top: 6.5px;
        margin-right: 0;
        float: right;
        width: 100%;
    }

    .navbar.responsive ul {
        display: block;
        float: none;
        text-align: center;
        background-color: rgb(199, 226, 226);
        box-shadow: inset 0px 10px 15px -17px #000000;
        height: 50px;
        margin-top: 0;
        margin-right: 0;
        padding: 15px;
    }

    .navbar.responsive img {
        position: fixed;
        margin-right: 20px;
        margin-top: 20px;
    }

    .card {
        display: flex;
        text-align: justify;
        flex-direction: column;
    }

    .ilustrasiEtimologi {
        width: 75%;
        padding: 0 50px;
    }
    
    .ilustrasiSejarah {
        width: 75%;
        padding: 0 50px;
        float: right;
    }
    
    .ilustrasiKebudayaan {
        width: 75%;
        padding: 0 50px;
    }
    
    #sejarah {
        flex-direction: column-reverse;
    }

    .form {
        padding: 0 100px;
    }

    .komitmenForm p {
        padding: 10px 0;
        width: 75%;
        float: right;
        font-size: 13px;
        text-align: left;
    }

    .alert {
        margin: 100px 100px 0 100px;
    }

    .info {
        background-position: right;
        background-size: 20%;
        background-position-y: 30px;
    }

    .header {
        text-align: center;
        flex-basis: 50%;
        padding-right: 80px;
    }
    
    .header h3 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .hamburger {
        display: block;
        float: right;
        width: 30px;
        margin-top: 0;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar {
        margin-top: 20px;
        margin-right: 20px;
    }

    .navbar ul {
        display: none;
    }

    .navbar.responsive {
        position: relative;
        margin-top: 6.5px;
        margin-right: 0;
        float: right;
        width: 100%;
    }

    .navbar.responsive ul {
        display: block;
        float: none;
        text-align: center;
        background-color: rgb(199, 226, 226);
        box-shadow: inset 0px 10px 15px -17px #000000;
        height: 50px;
        margin-top: 0;
        margin-right: 0;
        padding: 15px;
    }

    .jumbotron {
        padding: 0;
        height: 650px;
        text-align: center;
        margin: auto;
    }

    .banner{
        text-align: center;
        font-size: 80px;
        padding: 0;
        margin: 30px 0;
        text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
    }

    .button {
        margin-top: 220px;
        padding: 18px 32px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .card {
        display: flex;
        text-align: justify;
        flex-direction: column;
    }

    .ilustrasiEtimologi {
        width: 75%;
        padding: 0 50px;
    }
    
    .ilustrasiSejarah {
        width: 75%;
        padding: 0 50px;
        float: right;
    }
    
    .ilustrasiKebudayaan {
        width: 75%;
        padding: 0 50px;
    }
    
    #sejarah {
        flex-direction: column-reverse;
    }

    .form {
        padding: 0 20px;
    }

    .komitmenForm p {
        padding: 2.5px 0;
        width: 67%;
        float: right;
        font-size: 13px;
        text-align: left;
    }

    .alert {
        margin: 100px 20px 0 20px;
    }

    aside {
        padding: 0;
        margin: auto;
        text-align: center;
        margin: 100px 0 100px 0;
    }

    .info {
        background-position: center;
        background-size: 50%;
        background-position-y: 315px;
    }

    .header {
        margin: auto;
        padding: 0 20px;
        text-align: center;
        flex-basis: 50%;
        margin-bottom: 400px;
    }

    .header h2, h3 {
        text-align: center;
    }

    .header h3 {
        font-size: 30px;
    }

    section {
        padding: 0 20px 0 20px;
    }

    section table {
        padding-top: 0;
        font-size: 15px;
        margin: auto;
    }
}